#hud {
  width: 550px;
  margin-bottom: 20px;
}

* {
  font-family: Helvetica, sans-serif;
}

a.config {
  color: gray;
  font-size: 75%;
}

#config form {
  background-color: #f0f0f0;
  padding: 30px;
  width: 460px;
  margin: 0 auto;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  border: 3px solid #e0e0e0;
}

#config label {
  font-weight: bold;
  font-size: 100%;
}

#config input {
  display: block;
  font-size: 18px;
  font-family: "courier new", monospace;
  padding: 6px;
}

#config a {
  text-decoration: none;
  color: gray;
  margin-top: 20px;
}

#config #fine-print {
  color: gray;
  font-size: 60%;
}

#config a.abbr {
  color: #000;
  text-decoration: underline;
}

#config #newrelic_primary_app_ui {
  margin-top: 20px;
}

#config #newrelic_primary_app_ui .note {
  margin-top: 10px;
  font-size: 75%;
}

#config #nav {
  margin-top: 25px;
}
